
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="ScheduleCalendar">

</div>
@section CalendarScripts{
    <script>
        $(function () {

            $('#ScheduleCalendar').fullCalendar({
                defaultView: 'month',
                editable: false,
                weekends: false
            })

        });
    </script>
}